<!-- views/update_event.ejs -->
<%- include('partials/header') %>

<h2>Update Event</h2>

<!-- Display Success Message -->
<% if (query.success === 'updated') { %>
<script>
  alert("Event updated successfully!");
</script>
<% } %>

<form
  action="/events/<%= event._id %>?_method=PUT"
  method="POST"
  enctype="multipart/form-data"
>
  <div>
    <label for="name">Event Name:</label>
    <input
      type="text"
      id="name"
      name="name"
      value="<%= event.name %>"
      required
    />
  </div>

  <div>
    <label for="description">Description:</label>
    <textarea id="description" name="description" required>
<%= event.description %></textarea
    >
  </div>

  <div>
    <label for="date">Date:</label>
    <input
      type="date"
      id="date"
      name="date"
      value="<%= event.date.toISOString().split('T')[0] %>"
      required
    />
  </div>

  <div>
    <label for="location">Location:</label>
    <input
      type="text"
      id="location"
      name="location"
      value="<%= event.location %>"
      required
    />
  </div>

  <div>
    <label for="banner">Banner:</label>
    <% if (event.banner) { %>
    <img
      src="/<%= event.banner %>"
      alt="Current Banner"
      style="
        max-width: 200px;
        height: auto;
        display: block;
        margin-bottom: 10px;
      "
    />
    <% } %>
    <input type="file" id="banner" name="banner" accept="image/*" />
  </div>

  <button type="submit">Update Event</button>
</form>
